html,
body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald";
}
p,
li {
  font-family: sans-serif;
}
header {
  background-color: #193861;
}
.logo img {
  width: 100px;
}

nav {
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  padding: 20px;
}

.logo {
  float: left;
}

#navigation {
  float: right;
  margin-top: 18px;
}

#navigation a {
  font-family: "Oswald";
  color: #fff;
  text-decoration: none;
  padding: 20px;
  font-size: 24px;
}

#navigation a:hover {
  color: #d4c2a9;
}

.wrap {
  width: 1200px;
  padding: 20px;
  margin: 0 auto;
}

#section-one {
  background-color: #d8f1f2;
  text-align: center;
}

#section-one img {
  width: 800px;
  padding: 30px 0;
}

#section-one nav a {
  font-family: "Oswald";
  text-decoration: none;
  color: #376fa1;
  padding: 20px;
  font-size: 24px;
}

#section-one nav a:hover {
  color: #a98e69;
}
#section-one h1 {
  font-size: 50px;
}

#section-two {
  background: url("../images/computerkeyboard.jpg") no-repeat;
  padding: 50px;
}

#section-two .wrap {
  background: rgba(0, 0, 0, 0.7);
  border-radius: 1%;
  color: #ccc;
  padding: 20px 40px;
  width: 720px;
}

#section-two .wrap a {
  color: #ccc;
}

#section-three {
  padding: 30px;
}

#section-three .wrap {
  overflow: hidden;
}

#section-three .wrap #img {
  width: 48%;
  float: left;
  padding-right: 4%;
}
#section-three .wrap #img img {
  width: 100%;
}

#section-three .wrap #text {
  width: 48%;
  float: left;
}
#section-three h2 {
  margin-top: 0;
}

footer {
  background: #603b4c;
  text-align: center;
  padding: 20px;
  color: #fff;
}

.logo.footer {
  padding-top: 10px;
  float: none;
}

#about-section-two {
  background: url("../images/technology.jpg") no-repeat;
  padding: 30px;
}

#about-section-two .wrap {
  overflow: hidden;
}

#about-section-two .wrap #img {
  width: 48%;
  float: left;
  padding-right: 4%;
}

#about-section-two .wrap #img img {
  width: 90%;
}

#about-section-two .wrap #text {
  width: 48%;
  float: left;
}

#about-section-two h2 {
  margin-top: 0;
}

.profile {
  border-radius: 50%;
  max-width: 50%;
  max-height: 25%;
  padding-right: 0px;
}
